thead{
    background-color: #eef1ee;
}

body{
    background-color: #eef1ee;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table{
    border: 5px solid;
    width: 300px;
}

.tableline{
    text-align: center;
}

.middleline{
    color: red;
}
